body {
    margin: 0;
    background-color: #000;
    font-family: Regular;
}
header {
    position: fixed;
    height: 100px;
    width: calc(100% - 30px);
    line-height: 100px;
    font-size: 25px;
    background-image: url(../img/logo-temp.png);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: right 30px center;
    color: #fff;
    left: 30px;
    font-family: Black;
}
section {
    position: absolute;
    padding: 0 30px;
    background-color: #fff;
    width: calc(100% - 60px);
    min-height: calc(100vh - 100px);
    top: 100px;
    border-radius: 20px 20px 0 0;
}
section#items {
    padding: 0 0 0 30px;
    width: calc(100% - 30px);
}
section .name {
    font-size: 20px;
    font-family: 'Black';
    height: 75px;
    line-height: 85px;
    position: relative;
}
.name .add {
    position: absolute;
    margin: auto;
    right: 12px;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 21px;
}
section #item {
    position: relative;
    margin-bottom: 20px;
}
section .content {
    position: relative;
}
.content .sessions {
    background-color: #000;
    color: #fff;
    width: calc(100% - 122px);
    border-radius: 15px;
    padding: 25px 25px 10px 25px;
}
.sessions .session {
    position: relative;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
}
.session span {
    position: absolute;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    opacity: 0.7;
    margin: auto;
    top: 0;
    bottom: 0;
}
.session .data {
    position: relative;
    font-size: 13px;
    float: right;
    width: calc(100% - 25px);
    line-height: 20px;
}
.session .line {
    clear: both;
}
.line .question {
    float: left;
    font-size: 10px;
    opacity: 0.7;
}
.line .answer {
    float: right;
}
.data i {
    font-family: Light;
    font-style: normal;
}
#item .options {
    position: absolute;
    width: 60px;
    height: 80%;
    text-align: center;
    margin: auto;
    right: 12px;
    bottom: 0;
    top: 0;
    font-size: 19px;
}
.options div {
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 60px;
}
.options .copy {
    top: 0;
}
.options .edit {
    margin: auto;
    top: 0;
    bottom: 0;
}
.options .delete {
    bottom: 0;
}
#item .id {
    margin-top: 10px;
}
.id .card-name {
    font-family: 'Bold';
}
.card-name img {
    width: 19px;
}
.id .card-day {
    font-family: 'Light';
    font-size: 14px;
    position: relative;
    padding-left: 15px;
}
.card-day span {
    position: absolute;
    font-size: 8px;
    height: 100%;
    line-height: 16px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

* {
    transition: 3s;
}
section.add-card {
    display: none;
    top: 100vh;
}
section.add-card.up {
    display: block;
    top: 100px;
}
.add-card .session {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 15px 20px;
    margin-bottom: 12px;
    font-size: 12px;
    font-family: 'Bold';
}
.session input {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 18px;
    margin-top: 5px;
}
.add-card button {
    background-color: #5b559c;
    color: #fff;
    border-radius: 25px;
    padding: 15px 20px;
    font-size: 12px;
    font-family: 'Bold';
    width: 100%;
    margin: 20px 0;
    border: navajowhite;
}
ul, li, #list {
    list-style: none;
    margin: 0;
    padding: 0;
}